@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

progress, progress::-webkit-progress-bar {
  border-radius: calc(var(--spacing)*1);
  background-color: var(--color-neutral-300);
}


progress::-webkit-progress-value {
  border-radius: calc(var(--spacing)*1);
  background-color: var(--color-blue-500);
  transition: 0.5s linear;
}

progress::-moz-progress-bar {
  border-radius: calc(var(--spacing)*1);
  background-color: var(--color-blue-500);
  transition: 0.5s linear;
}


progress[data-step=done]::-webkit-progress-value {
  background-color: var(--color-green-400);
}

progress[data-step=done]::-moz-progress-bar {
  background-color: var(--color-green-400);
}


progress[data-step=error]::-webkit-progress-value {
  background-color: var(--color-red-400);
  transition: none;
}

progress[data-step=error]::-moz-progress-bar {
  background-color: var(--color-red-400);
  transition: none;
}


progress[data-step=error], progress[data-step=error]::-webkit-progress-bar {
  background-color: var(--color-red-400);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

body {
  color: var(--foreground);
  background: var(--background);
}
